*{
    margin:0;
    padding: 0;
    border: 0;
}
:root{
    --background-color:#000000;
    --background-color2:#590c0c;
    --background-color3:#160f71;
}
body{

    display: flex;
}
.box{

    height: 100vh;
    background:linear-gradient(100deg,var(--background-color),var(--background-color2),var(--background-color3));
    width: 50%;
}
.login{
    background:linear-gradient(50deg,var(--background-color3),var(--background-color2));
    height: 50vh;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 25vh;
    border-radius: 30px;


}
.icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    font-style: oblique;
    color: #ffffff;
}
.inputs{
    display: block;
}
.full_name,
.email,
.username,
.password{
    height: 3vh;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.btn_sign{
    height: 3vh;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: #251ac8;
}
.btn_sign:hover{
    background-color: #0f0785;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;

}


.image{
    height: 100vh;
    width: 50%;
}
img{
    height: 100vh;
    width: 100%;
}

