*{
    margin:0;
    padding: 0;
    border: 0;
}
:root{
    --visiting-text: #ffffff;
    --background-color:#590c0c;
    --background-color2:#160f71;

}

body{
    background: linear-gradient(50deg, var(--background-color), var(--background-color2));
    display: flex;
}
.buttons{
    min-height: 100vh;
    max-width: 20%;
    background:linear-gradient(150deg,var(--background-color),var(--background-color2));
    display: block;
}
.icon{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 150px;
    margin-left: 250px;

}
.name,
.email{
    width: 400px;
    height: 150px;
    margin: -100px;
    margin-left: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: var(--visiting-text);
}
.email{
    font-size: 30px;
}
.add,
.setting,
.active,
.complated,
.login{
    display: flex;

}
.add_image,
.setting_img,
.active_img,
.complated_img,
.login_img{
    width: 100px;
    height: 100px;
    margin: 50px;
    margin-right: 20px;

}
.add_task,
.btn_setting,
.btn_active,
.btn_complated,
.log_out{
    width: 400px;
    height: 100px;
    margin: 50px;
    margin-left: -10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background: (150deg, var(--background-color), var(--background-color2));
    color: var(--visiting-text);
    cursor: pointer;
}


.inputs{
    background: linear-gradient(40deg,var(--background-color),var(--background-color2));
    min-height: 100vh;
    width: 80%;
}
h1{
    text-align: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin: 40px;
    color: var(--visiting-text);
}
.tasks{
    display: flex;
}
.new_task{
    height: 4vh;
    width: 40%;
    margin: 40px;
    margin-left: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border-radius: 20px;
}
.add_new_task{
    height: 4vh;
    width: 10%;
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--visiting-text);
    background-color: #0c2abd;
}
.add_new_task:hover{
    background-color: #0a1c74;
}
h2{
    margin: 2%;
    margin-left: 41%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    color: var(--visiting-text);
}

